*.pbix filter=lfs diff=lfs merge=lfs -text
report/* filter=lfs diff=lfs merge=lfs -text
report/**/*.* filter=lfs diff=lfs merge=lfs -text
Human/[[:space:]]Resources/[[:space:]]Sample/[[:space:]]PBIX.pbix filter=lfs diff=lfs merge=lfs -text
